.text-center {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 46px;
}

.bg-red {
    background-color: red;
}

.mx-auto {
    margin: 15px 544px;
    padding: 50px 0px;
}

.flex {
    display: flex;


}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 2px solid black;
    border-radius: 59px;
    width: 280px;
    margin: auto;
}

.color-grey {
    background-color: #d3d3d3d9;
}

.color-orge {
    background-color: rgb(255, 146, 44);
    color: white;
}

.color-gray {
    background-color: #4f4f4f;
    ;
    color: white;
}